server/ca-server/ca
server/user-client/user
caweb
zlog_test
std-test
admin

# 用户数据
U*.crt
U*_priv.key
U*_pub.key

# ca数据
CRL.dat
CRLManager.dat
SessionKeys.dat
SerialNum.txt
UserList.dat
*.log

# 其他
.cache
**/settings.json
build
.clang-format