server/ca-server/ca
server/user-client/user
server/user-client/auto_test
server/user-client/func_test
**/ca_web

# 用户数据
U*.crt
U*_priv.key
U*_pub.key

# ca数据
CRL.dat
CRLManager.dat
**/SerialNum.txt
UserList.dat
