@import './base.css';

#app {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #3b82f6;
  transition: 0.4s;
}

a:hover {
  color: #2563eb;
}

/* 移除默认的网格布局 */
@media (min-width: 1024px) {
  body {
    display: block;
    margin: 0;
    padding: 0;
  }

  #app {
    display: block;
    padding: 0;
  }
}
